@model System.Collections.Generic.Dictionary<string, EventLog.Model.UserData>

<div class="row">
    <div class="col-md-6">

        <h1>Events</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var key in Model.Keys)
                {
                    var userData = @Model[@key];

                    var eventInfoList = @userData.EventsList;

                    <tr>
                        <td>
                            @if (@userData.HasAlert)
                            {
                                <input type="button" class="btn btn-danger" value="Alert" />
                            }
                        </td>
                        <td>@key</td>
                        <td>
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Password</th>
                                        <th>Event Date</th>
                                        <th>IP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var eventInfo in eventInfoList)
                                    {
                                        <tr>
                                            <td>@eventInfo.Event.Password</td>
                                            <td>@eventInfo.Event.EventDate</td>
                                            <td>
                                                <input type="button" class="btn btn-primary" value="@eventInfo.Event.Ip" 
                                                    onclick="addMark(@eventInfo.GeoInfo.latitude, @eventInfo.GeoInfo.longitude)" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h1>Map</h1>
        <div id="map" style="height: 400px"></div>
        
    </div>
</div>

@section Scripts
{
    <script>
          function initMap() {
            var uluru = { lat: 0, lng: 0 };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
            });

          }

        function addMark(lat, long) {
            var uluru = { lat: lat, lng: long} ;

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: uluru
            });
            
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv6kD82JDL8irzD2wAwIVhGijym_ySfI0&callback=initMap"></script>

}

